<?xml version="1.0"?>

<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>

    <httpHandlers>
      <add verb="*" path="JumploaderResource.asx" type="JumploaderWrapper.ResourceHandler, JumploaderWrapper" />
      <add verb="*" path="JumploaderUpload.asx" type="JumploaderWrapper.UploadHandler, JumploaderWrapper" />
    </httpHandlers>


  </system.web>
</configuration>
